* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font: 16px/18px "futura-pt", helvetica, arial, sans-serif; }

h1, h2 {
  font-weight: 700; }

h3, h4 {
  font-weight: 400; }

h5, h6 {
  font-weight: 100; }

p {
  font: 16px/18px "ff-meta-serif-web-pro", georgia, times, serif;
  font-weight: 100; }

hr {
  border: none; }

li {
  font: 16px/18px "futura-pt", helvetica, arial, sans-serif;
  list-style-type: none; }

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out; }
  a:hover, a:active, a:visited {
    color: inherit; }

.credits {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 0 20%;
  background-color: #012f50; }
  .credits li {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.07em; }
    .credits li:not(:last-child) {
      margin-right: 1.5em; }
    .credits li a {
      color: #39c469; }
      .credits li a:hover {
        color: white; }

.get-filler {
  width: 100%;
  padding: 6em 20%; }
  .get-filler h3 {
    font: 16px/18px "ff-meta-serif-web-pro", georgia, times, serif;
    width: 50%;
    font-size: 3em;
    line-height: 130%;
    color: #39c469; }
  .get-filler h4 {
    font-size: 2em;
    line-height: 150%;
    color: #012f50; }
  .get-filler h5 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 125%;
    color: #012f50; }
  .get-filler form {
    position: relative;
    margin: 1em 0 0.75em; }
    .get-filler form #num-paragraphs {
      width: 100px;
      padding: 1em;
      border: 1px solid #012f50; }
    .get-filler form label {
      font: 16px/18px "futura-pt", helvetica, arial, sans-serif;
      display: block;
      margin-bottom: -1em;
      font-size: 0.75em;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #012f50; }
    .get-filler form .fill-button {
      margin: 1.5em 0;
      padding: 1em 1.5em;
      border: none;
      background-color: #012f50;
      color: white;
      transition: background-color 0.2s ease-in-out; }
      .get-filler form .fill-button a {
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.06em; }
      .get-filler form .fill-button:hover {
        background-color: #39c469; }

footer {
  width: 100%;
  height: 125px;
  border-top: 3px solid #012f50;
  background-color: #39c469; }

header {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background-image: url(../images/philbert.jpg);
  background-size: cover; }
  header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 450px;
    background-color: rgba(1, 47, 80, 0.7); }
  header .text-wrapper {
    position: relative;
    z-index: 1;
    padding: 1em 2em;
    text-align: center;
    background-color: #39c469; }
    header .text-wrapper h1 {
      font-size: 2em;
      font-weight: 600;
      line-height: 130%;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: #012f50; }
    header .text-wrapper h2 {
      font: 16px/18px "ff-meta-serif-web-pro", georgia, times, serif;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 175%;
      text-transform: capitalize;
      letter-spacing: 0.03em;
      color: #012f50; }
    header .text-wrapper hr {
      width: 3em;
      border-top: 3px solid rgba(1, 47, 80, 0.4); }
