* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	@include font(secondary);
}
h1, h2 {
	font-weight: 700;
}

h3, h4 {
	font-weight: 400;
}

h5, h6 {
	font-weight: 100;
}
p {
	@include font(primary);
	font-weight: 100;
	&:first-child {
		margin-top: 0;
	}
}
hr {
	border: none;
}
li {
	@include font(secondary);
	list-style-type: none;
}
a {
	text-decoration: none;
	&:hover, &:active, &:visited {
		color: inherit;
	}
	transition: color .2s ease-in-out;
}
.fg-button {
	padding: 1em 1.5em;
	border: none;
	background-color: $fg-blue-dark;
	color: #fff;
	transition: background-color .2s ease-in-out;
	font-size: 1em;
	a {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.06em;
	}
	&:hover {
		background-color: $fg-green-bright;
	}
	&.fg-button--small {
		font-size: 50%;
	}
}