doctype html
html
	head
		title 
			block title
				| Fill Gilbert
		meta(name="viewport", content="initial-scale=1")
		link(rel="stylesheet", href="css/app.css")

		script(type="text/javascript" src="https://use.typekit.net/veu5utw.js")
		script(type="text/javascript").
			try{Typekit.load({ async: true });}catch(e){}

	body
		block content
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/foundation/js/foundation.min.js")
		script(src="js/app.js")
